.settings__setting{
    padding: 10px 0;
    border-bottom: var(--main-border);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i{
    margin-right: 20px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);  
}

.settings__setting-column:last-child{
    opacity: 0.5;
}

.settings__setting-column{
    position: relative;
}
.settings__new{
    background-color: tomato;
    width: 20px;
    height:20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
    position:absolute;
    right: -25px;
    top: 3px;
}
